@import url("reset.css");
body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* Common styles */
.flex-container {
    font-size: 20px;
    display: flex;
    height:100%; 
}

#slack-teams{
    flex: 0 0 70px;
    background-color:#3A3238;
}

#menu {
    flex: 0 0 230px;
    background-color: #574754;
    color:#B3B3B3;
    overflow-y: auto;
    overflow-x: hidden;
}


#about-channel {
    width: 30%;
    background-color: #B0DD5C;    
}

#main-area {
    width: 100%;
    flex-direction: column;
}

/* Slack teams styles */

#slack-teams a div img {
    border-radius: 5px;
    display: block;
    margin: 15px auto 5px auto;
    width: 35px;
    opacity: 0.3;
}


#slack-teams a div p {
    text-align:center;
    font-size: 12px;
}

#slack-teams a {
    text-decoration: none;
    color: #9C9090;
}
#slack-teams a div img#active {
    opacity: 1;
}

#addChannel {
    padding-top:10px;
    text-align: center;
}

/* Menu styles */

#menu p i{
    font-size: 12px;
}
 
#menu p {
    font-weight: bold;
    font-size: 16px;
    display:inline-block;
    margin-bottom: 10px;
}

#bell {
    float: right;
    font-size: 18px;
    margin-top: 5px;
}

#toggleBtn{
    font-size: 12px;
    font-weight:bolder;
}

.menuBlocks{
    padding: 5px 15px;
}

.online {
    color: rgba(31, 133, 119, 0.81);;
}

#userInfo div p {
    font-size: 14px;
}

#userInfo:hover p{
    color: #ffffff;
}

.hovered:hover {
    background-color: #3A3238;
    cursor:pointer;    
}

#bell:hover {
    color:white;
}

#allThreads img {
    width: 15px;
    margin-right:5px;
}
.fa-plus-circle {
    float:right;
    margin-top:4px;
    font-size:14px; 
}
.fa-plus-circle:hover {
    color: #746E73;
    cursor:pointer;
}

#channels p:hover, #directMessages p:hover, #apps p:hover{
    color:#ffffff;
    cursor:pointer;
}
div#channels a, div#directMessages a {
    padding:5px 15px;
    font-size:16px;
    text-decoration:none;
    color:#B3B3B3;
    display:block;
}

#directMessages {
    margin-top: 10px;
}

#directMessages a.hovered i{
    margin-right: 5px;
    color :rgba(31, 133, 119, 0.81);
    font-size:20px;
}

#directMessages a i.fa-times {
    display:none;
    float: right;
    font-size: 16px;
    color:#746E73;
}
#directMessages a i.fa-times:hover {
    color:#A8A1A7;    
}

#directMessages a:hover .fa-times{
    display: block;
    margin-top:3px;
    margin-right:3px;
}

#invitePeople, #apps {
    margin-top:15px;
    font-size: 16px;
}

#apps i{
    font-size:20px;
}

#apps {
    margin-bottom: 40px;
}

#invitePeople a {
    text-decoration:none;
    color: inherit;
}

#quickSwitch {
    background:#574754;
    width:206px;
    padding: 10px 0;
    position: absolute;
    bottom:0px;
    left: 75px;
}

#quickSwitch img {
    display: block;
    margin: 0 auto;
}

/* Upper dock with search */
#upper-dock {
    width:100%;
    height: 65px;
    padding: 5px 15px;
    flex-direction: row;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
}

#upper-dock p {
    font-weight: bold;
    font-size: 18px;
}

#topic {
    margin-top: 10px;
    font-size: 14px;
    color: #b3b3b3;
    flex-direction:column;
    float:left;
}

.vertical {
    width: 1px; 
    background-color: #BEBEBE;
    height:12px;
    margin-top: 2px;
}

#icons {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 14px;
    color: #B8B8B8;
}

#icons div, #search div {
    margin-right: 10px;
}

#icons img {
    width: 15px;
}

#icons div:last-child span {
    font-style: italic;
}

#icons span {
    vertical-align: text-top;
}


#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #525252;
}

input[type="text"]{
    width: 150px;
    border-radius: 5px;
    border: 1px solid black;
    height: 25px;
    text-indent: 30px;
    transition: width 0.4s ease-in-out;
}


input[type="text"]:focus {
    outline: none;
    width: 230px;
}

.searchField {
    position:relative;
}

.searchField .fa-search {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 15px;
}

#upper-dock a{
    text-decoration: none;
    color: #525252;
}

/* Mid area */

#midArea {
    display: flex;
    flex-direction: row;
}

#messageArea{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#messages {
    width:100%;
    height: 100%;
    background-color: #3C773A;
    min-height: 300px;
}

#inputMessage{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;        
}

/* Type message */

#inputMessage input[type="text"] {
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid black;
}















